<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-opacity-75">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a class="navbar-brand me-4" href="#">Expense Tracker</a>
          </div>

          <div class="ms-auto" *ngIf="authService.currentUser$ | async">
            <a class="btn btn-outline-light me-2" [routerLink]="'/add'">
                <i class="bi bi-plus-circle"></i>
                Add Transaction
            </a>
            <a class="btn btn-outline-light me-2" (click)="authService.logout()">
                <i class="bi bi-box-arrow-right me-1"></i>
                Logout
            </a>
          </div>

          <div class="ms-auto" *ngIf="!(authService.currentUser$ | async)">
            <a class="btn btn-outline-light me-2" [routerLink]="'/login'">
                <i class="bi bi-box-arrow-in-right me-1"></i>
                Login
            </a>
          </div>
    </div>
</nav>